* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
}

body {
    background: #d6d9ff;
    padding-top: 210px;
}

.main-box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #d6d9ff;
    margin: 0 auto;
    border-radius: 25px;
    background: #d6d9ff;
    box-shadow:  5px 5px 10px #b6b8d9,
                -5px -5px 10px #f6faff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.active-box {
    width: 100px;
    height: 100px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.active-box:hover {
    transition: 0.3s;
    cursor: pointer;
    background: #b6b8da;
}

.r {
    border-right: none;
}

.b {
    border-bottom: none;
}

.red {
    background: rgb(251, 197, 197);
}

.result {
    position: absolute;
    top: 120px;
    left: 49%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.game-end {
    background: rgba(0, 0, 0, 0.584);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    font-weight: bold;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 25px;
    display: none;
}

.display-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

